* {
 margin: 0;
 padding:0;
}

.frontpage-img{
    position: absolute;
    width: 100%;
    

}

header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content:right;
  align-items: center;
  height: 30px;
  background-color: rgb(14,14,14,0.5) ;
  
  
    
}

main{
    position: relative;
    padding: 500px;
    display: flex;
    flex-direction: column;
}

h1{
    color:white;
    font-size: 180px;
 
}

h2{
    color: rgb(202, 48, 48);
    
}

.get_started{
    width: 100px;
}

