@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


* {
 margin: 0;
 padding:0;
 font-family:'PT Sans Narrow' ;
}

.frontpage{
    margin: none;
}

.frontpage-img{
    position: absolute;
    width: 100%;
    
    
    

}

header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content:right;
  align-items: center;
  height: 40px;
  background-color: rgb(14,14,14,0.5) ;
  
  
    
}

.MainFront{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    
}

.H1Colosseum{
    color:white;
    font-size: 180px;
    
 
}

h2{
    font-size: 50px;
    color: white;
    
}

.get_started{
    color: white;
    background-color: #ef6351;
    border:none;
    padding: 4px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}



.log_in{
    color: white;
    background-color: #ef6351;
    border:none;
    margin-right: 100px;
    padding: 4px 30px;
    font-size: 16px;
    border-radius: 10px;
}

 .connect{
    position: relative;
    background-image:linear-gradient(white,black);
    height: 800px;
    margin-top: 200px;
 }
    
 
    

 
 .H1Connect{
     position: relative;
     color: rgb(112, 18, 18);
     font-size: 50px;
     display: flex;
     justify-content: right;
     margin-right: 100px;
     margin-top: 200px;
 }