*{
 box-sizing: border-box;
 margin: 0;
 padding:0;
}

.frontpage-img{
    position: absolute;
    width: 100%;

}

h1{
    position: relative;
    color:green;
    margin-bottom: 200px;
}

h2{
    position: relative;
    color: white;
    

}

header{
    display: flex;
    width: 100%;
    position: absolute;
    color: purple;
}